apiVersion: v1
kind: Service
metadata:
  name: solution-service
  namespace: prod
spec:
  type: NodePort
  ports:
    - port: 3000
      targetPort: 3000
      nodePort: 30100
      protocol: TCP

  selector:
    app: myapp
